## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [ ]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [2]:
import pandas as pd
auto = pd.read_csv("Automobile_data.csv")
auto.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.4,7.0,160,5500,16,22,?

In [5]:
auto.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

**Check the head of the DataFrame.**

In [6]:
auto.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

**How many rows and columns are there?**

In [8]:
auto.shape

(205, 26)

In [13]:
auto.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

**What is the average Price of all cars in the dataset?**

In [14]:
auto['price'] = pd.to_numeric(auto['price'], errors='coerce')
avg_price = auto['price'].mean()
avg_price

np.float64(13207.129353233831)

**Which is the cheapest make and costliest make of car in the lot?**

In [15]:
auto['price']

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

In [16]:
cheapest = auto['price'].min()
cheapest

np.float64(5118.0)

In [17]:
costliest = auto['price'].max()
costliest

np.float64(45400.0)

**How many cars have horsepower greater than 100?**

In [26]:
auto['horsepower'] = pd.to_numeric(auto['horsepower'], errors='coerce')
hp = auto['horsepower'] > 100
hp.sum()

np.int64(92)

**How many hatchback cars are in the dataset ?**

In [10]:
hatchback = auto[auto['body-style'] == 'hatchback']
hatchback.value_counts

<bound method DataFrame.value_counts of      symboling normalized-losses         make fuel-type aspiration  \
2            1                 ?  alfa-romero       gas        std
9            0                 ?         audi       gas      turbo
18           2               121    chevrolet       gas        std
19           1                98    chevrolet       gas        std
21           1               118        dodge       gas        std
..         ...               ...          ...       ...        ...
175         -1                65       toyota       gas        std
177         -1                65       toyota       gas        std
178          3               197       toyota       gas        std
179          3               197       toyota       gas        std
190          3               256   volkswagen       gas        std

    num-of-doors body-style drive-wheels engine-location  wheel-base  ...  \
2            two  hatchback          rwd           front        94.5  ...
9            two  hatchback          4wd           front        99.5  ...
18           two  hatchback          fwd           front        88.4  ...
19           two  hatchback          fwd           front        94.5  ...
21           two  hatchback          fwd           front        93.7  ...
..           ...        ...          ...             ...         ...  ...
175         four  hatchback          fwd           front       102.4  ...
177         four  hatchback          fwd           front       102.4  ...
178          two  hatchback          rwd           front       102.9  ...
179          two  hatchback          rwd           front       102.9  ...
190          two  hatchback          fwd           front        94.5  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
2            152         mpfi  2.68    3.47              9.00        154
9            131         mpfi  3.13     3.4              7.00        160
18            61         2bbl  2.91    3.03              9.50         48
19            90         2bbl  3.03    3.11              9.60         70
21            90         2bbl  2.97    3.23              9.41         68
..           ...          ...   ...     ...               ...        ...
175          122         mpfi  3.31    3.54              8.70         92
177          122         mpfi  3.31    3.54              8.70         92
178          171         mpfi  3.27    3.35              9.30        161
179          171         mpfi  3.27    3.35              9.30        161
190          109         mpfi  3.19     3.4              8.50         90

     peak-rpm city-mpg highway-mpg  price
2        5000       19          26  16500
9        5500       16          22      ?
18       5100       47          53   5151
19       5400       38          43   6295
21       5500       37          41   5572
..        ...      ...         ...    ...
175      4200       27          32   9988
177      4200       27          32  11248
178      5200       20          24  16558
179      5200       19          24  15998
190      5500       24          29   9980

[70 rows x 26 columns]>

In [11]:
hatchback.shape[0]

70

**What are the 3 most commonly found cars in the dataset?**

In [16]:
common_found = auto['make'].value_counts()
common_found.head(3)

make
toyota    32
nissan    18
mazda     17
Name: count, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [24]:
make = auto[auto['price']== '7099'][['make','price']]
make

      make price
90  nissan  7099

**Which cars are priced greater than 40000?**

In [28]:
price_40000 = auto[auto['price'] > '40000'][['make','price']]
price_40000

           make  price
9          audi      ?
16          bmw  41315
18    chevrolet   5151
19    chevrolet   6295
20    chevrolet   6575
..          ...    ...
185  volkswagen   8195
186  volkswagen   8495
187  volkswagen   9495
188  volkswagen   9995
190  volkswagen   9980

[105 rows x 2 columns]

**Which are the cars that are both a sedan and priced less than 7000?**

In [34]:
auto['price'] = pd.to_numeric(auto['price'], errors='coerce')
both = auto[(auto['body-style'] == 'sedan') & (auto['price'] < 7000)]
both

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
20,0,81,chevrolet,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6575.0
25,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6692.0
43,0,?,isuzu,gas,std,four,sedan,rwd,front,94.3,...,111,2bbl,3.31,3.23,8.5,78,4800,24,29,6785.0
53,1,113,mazda,gas,std,four,sedan,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6695.0
85,1,125,mitsubishi,gas,std,four,sedan,fwd,front,96.3,...,122,2bbl,3.35,3.46,8.5,88,5000,25,32,6989.0
89,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,5499.0
91,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,6649.0
92,1,122,nissan,gas,std,four,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,6849.0
121,1,154,plymouth,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6692.0
156,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,30,37,6938.0

 **Count the number of unique values in the `fuel_type` column.**

In [37]:
unique_fuel = auto['fuel-type'].nunique()
unique_fuel

2

**List all the cars that have a horsepower between 100 and 200, and display their `make`, `horsepower`, and `price`.**

In [40]:
# auto['price'] = pd.to_numeric(auto['price'], errors='coerce')
hp_100_200 = auto[(auto['horsepower'] > '100') & (auto['horsepower'] < '200')][['make','horsepower','price']]
hp_100_200

            make horsepower    price
0    alfa-romero        111  13495.0
1    alfa-romero        111  16500.0
2    alfa-romero        154  16500.0
3           audi        102  13950.0
4           audi        115  17450.0
..           ...        ...      ...
200        volvo        114  16845.0
201        volvo        160  19045.0
202        volvo        134  21485.0
203        volvo        106  22470.0
204        volvo        114  22625.0

[86 rows x 3 columns]

**Find the average `city_mpg` and `highway_mpg` for each `body_style`.**

In [44]:
average_mpg = auto.groupby('body-style')[['city-mpg', 'highway-mpg']].mean()
average_mpg

              city-mpg  highway-mpg
body-style
convertible  20.500000    26.000000
hardtop      21.625000    27.250000
hatchback    26.314286    32.171429
sedan        25.322917    30.833333
wagon        24.040000    28.720000

In [42]:
avg_city_mpg = auto.groupby('body-style')['city-mpg'].mean()
avg_city_mpg

body-style
convertible    20.500000
hardtop        21.625000
hatchback      26.314286
sedan          25.322917
wagon          24.040000
Name: city-mpg, dtype: float64

In [43]:
avg_highway_mpg = auto.groupby('body-style')['highway-mpg'].mean()
avg_highway_mpg

body-style
convertible    26.000000
hardtop        27.250000
hatchback      32.171429
sedan          30.833333
wagon          28.720000
Name: highway-mpg, dtype: float64

**What is the median `price` for each `make`?**

In [45]:
median_price = auto.groupby('make')['price'].median()
median_price

make
alfa-romero      16500.0
audi             17580.0
bmw              22835.0
chevrolet         6295.0
dodge             7609.0
honda             7295.0
isuzu             8916.5
jaguar           35550.0
mazda            10595.0
mercedes-benz    32892.0
mercury          16503.0
mitsubishi        8499.0
nissan            8124.0
peugot           16630.0
plymouth          7609.0
porsche          33278.0
renault           9595.0
saab             15275.0
subaru            7894.0
toyota            9103.0
volkswagen        9737.5
volvo            18420.0
Name: price, dtype: float64

**List all cars that have a `wheel_base` greater than 100 and a `curb_weight` less than 2500.**

In [47]:
all_cars = auto[(auto['wheel-base']>100) & (auto['curb-weight']<2500)][['make','wheel-base','curb-weight']]
all_cars

       make  wheel-base  curb-weight
10      bmw       101.2         2395
11      bmw       101.2         2395
173  toyota       102.4         2326
174  toyota       102.4         2480
175  toyota       102.4         2414
176  toyota       102.4         2414
177  toyota       102.4         2458

**Create a new column `price_per_hp` that calculates the price of the car per horsepower.**

**Count how many cars have a `number_of_doors` as `four`.**

**Find the top 5 cars based on their `highway_mpg` and `price`.**

**How many cars have missing values in the `normalized_losses` column?**

**Create a new column `car_age` that calculates the age of the car based on the `year_of_manufacture` (assume the current year is 2025).**

### The END